doctype html
html(lang="en")
   head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Jasmine Spec Runner v2.0.3
    link(rel='shortcut icon', type='image/png', href='/jasmine/img/jasmine_favicon.png')
    link(rel='stylesheet', type='text/css', href='/jasmine/css/jasmine.css')
    script(type='text/javascript', src='/jasmine/js/jasmine.js')
    script(type='text/javascript', src='/jasmine/js/jasmine-html.js')
    script(type='text/javascript', src='/jasmine/js/boot.js')

    // include source files here... 
    script(type='text/javascript', src='/jasmine/src/source.js')

    // include spec files here... 
    script(type='text/javascript', src='/jasmine/spec/spec.js')

   body
    block content