doctype html
html(lang="en")
   head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Jasmine Spec Runner v2.0.3
    link(rel='shortcut icon', type='image/png', href='/ico/wkb-favicon.ico')
    link(rel='stylesheet', type='text/css', href='/jasmine/css/jasmine.css')
    script(type='text/javascript', src='/lib/swfobject.js')
    script(type='text/javascript', src='/lib/maildc-flash.js')
    script(type='text/javascript', src='/jasmine/js/jquery.js')
    script(type='text/javascript', src='/jasmine/js/jasmine.js')
    script(type='text/javascript', src='/jasmine/js/jasmine-html.js')
    script(type='text/javascript', src='/jasmine/js/boot.js')
    script(type='text/javascript', src='/jasmine/js/jasmine-jquery.js')

    // we should put here a main without startup-backbone!! (to do)
    // this is the client side javascript file
    // script(src='/jasmine/main/main.js')

    // include source and spec files (gulp concatenated)
    script(type='text/javascript', src='/jasmine/main/jasmine.js')

   body
   <div id="flash"></div>
  