doctype html
html(lang='fr')
head

    meta(charset='utf-8')
    title MailDC
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Decentralized email')
    meta(name='author', content='SaasInvent')
    meta(name='keywords', content='email, client, decentralized, anonymity')
    link(href='css/maildc.css', rel='stylesheet')

    script(src='/main/main.js')

    
body

    header
        include index.html

 
</html>

